.create-prog-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.create-row{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.programmes-title.create {
  text-align: left;
  margin: 0;
}

.add-button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(1, 1, 1, 0);
  font-weight: 500;
  font-size: 25px;
  background-image: url(../svg/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 15px 5px 0px;
}
.add-button:active{
    transform: scale(0.95);
}
.back-next{
  position: fixed;
  width: 100%;
  padding: 0 20px;
  bottom: 25px;
}
.back-next button{
width: 100px;
}
.next{
  float: right;
  margin-right: 40px;
}
.add-prompt{
  margin-top: 20px;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}