.card-wrapper.workout {
  width: 100%;
  padding: 8px 10px;
  margin: 10px;
}
.programmes-title.workout {
  color: black;
  font-size: 18px;
  outline: none;
  border: none;
  margin: 0;
  width: 70%;
}
.add-button.workout {
  background-image: url(../svg/add-black.svg);
  margin: 0;
  outline: none;
}
.exercises-wrapper {
  padding: 0 5px;
  margin: 8px 0 0 0;
}
.create-row.workout {
  justify-content: unset;
}
.divider.workout {
  width: 100%;
}
.exercises-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  margin-left: 10px;
  flex: 1 0 45%;
  margin-bottom: 8px;
}
.sets-reps-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  flex: 1 0 50%;
  text-align: center;
  margin-bottom: 8px;
}
.exercise-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: left;
  width: 60%;
  outline: none;
  border: none;
}
.sets-reps {
  width: 40%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  outline: none;
  border: none;
}

.row-button {
  background-color: white;
  border: none;
  outline: none;
  display: flex;
  flex: 1 0 90%;
  align-items: center;
}
.delete {
  background-color: white;
  border: none;
  outline: none;
  width: 10%;
  font-size: 25px;
  font-weight: 600;
}
.add-button.workout.remove {
  background-image: url(../svg/add-black.svg);
  margin: 0;
  transform: rotate(45deg);
}
.add-button.workout.remove:active {
  transform: scale(0.95) rotate(45deg);
}
